.skill{
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 84vh;
    width: 70vw;
    margin: auto;
}

.logos{
    margin-left:2vw;
}

.pacman {
    width: 100%;
    position: relative;
    background: transparent; 
}

.pacman::before, .pacman::after {
    z-index: 3; 
    position: absolute;
    top: -5vw; 
    display: block;
    border-radius: 50%;
    content: "";
}
.pacman::before {
    animation: chunk-top 0.5s ease infinite;
    border: 10vw solid var(--color-primary);
    border-bottom-color: transparent;
    border-left-color: transparent;
}
.pacman::after {
    animation: chunk-bottom 0.5s ease infinite;
    border: 10vw solid var(--color-primary);
    border-right-color: transparent;
    border-top-color: transparent;
}

.path{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.path img{
    max-width: 15vw;
    max-height: 10vw;
}
@keyframes chunk-top {
    0%,
    100% {
        transform: rotate(-45deg);
    }
    50% {
        transform: rotate(-80deg);
    }
}

@keyframes chunk-bottom {
    0%,
    100% {
        transform: rotate(-40deg);
    }
    50% {
        transform: rotate(0deg);
    }
}

@media screen and (max-width: 600px) {
    .skills__container{
        height: 50vh;
    }

    .skill{
        width: 100vw;
        height: 43vh;
    }

    .path img{
        max-width: 20vw;
        max-height: 15vw;
    }

    .pacman::before {
        animation: chunk-top 0.5s ease infinite;
        border: 12vw solid var(--color-primary);
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    .pacman::after {
        animation: chunk-bottom 0.5s ease infinite;
        border: 12vw solid var(--color-primary);
        border-right-color: transparent;
        border-top-color: transparent;
    }
}

@media screen and (max-width: 1023px) and (min-width:601px){
    .skill{
        width: 80vw;
    }
    
}
