.con{
  display: table-cell;
  background: transparent;
  word-break: break-all;
  border: 1px solid var(--color-primary);
  border-radius:  var(--border-radius);
  text-align: center;
  width: 270px;
  height: 15vh;
  vertical-align: middle;
  color: white;
  text-decoration: none;
}

.con h2{
  font-size: 1.2rem;
}

.con h4{
  font-size: 0.8rem;
}

.contacts a{
  text-decoration: none;
}

.contact__container {
  color: white;
}

.contact {
  display: flex; 
  justify-content: center;
  column-gap: 10vw; 
}

.contacts{
  margin-top: 10vh;
  display:flex;
  flex-direction: column;
  row-gap: 2vh;
}

form{
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

::placeholder { 
  color: var(--color-font);
  opacity: 1; 
}

input, textarea{
  color: var(--color-font);
  font-size: 1.2rem;
  width: 384px;
  height:2.4vh;
  padding:1.8rem;
  background: transparent;
  border-radius: 10px;
  border:1px solid var(--color-primary);
  resize: none;
}

textarea{
  height:25vh;
}

textarea:focus, input:focus{
  outline: none;
}

.contact button{
  display:flex;
  justify-content: center;
  align-items: center;
  color: var(--dark-color);
  font-size: 1.7rem;
  height: 8vh;
  width: 50%;
  background-color: var(--color-primary);
  border-radius: 30px;
  align-self: flex-end;
  text-align: center;
  font-weight: bold;
  cursor:pointer;
  border:0;
} 

.contact button .icon{
  position: relative;
  top: 3px;
  left: 4px;
}

@media screen and (max-width: 600px) {
  .contact__container{
    height:75vh;
  }
  .contact__container .titles{
    margin-top: 0;
  }

  .con{
    width:35vw;
    height: 12vh;
  }
  .con h2{
    font-size: 0.8rem;
  }
  
  .con h4{
    font-size: 0.5rem;
  }

  input, textarea{
    font-size: 0.8rem;
    width: 45vw;
    height:1.4vh;
    padding:0.8rem;
    background: transparent;
    border-radius: 10px;
    border:1px solid var(--color-primary);
    resize: none;
  }

  textarea{
    height:25vh;
  }

  .contact{
    justify-content: space-around;
    column-gap:0;
  }

  .contacts{
    row-gap: 1vh;
  }

  .contact button{
    font-size: 1.2rem;
    height: 6vh;
  } 
}

@media screen and (max-width: 800px) and (min-width:601px){
  .con{
    width:170px;
  }
  .con h2{
    font-size: 1rem;
  }
  
  .con h4{
    font-size: 0.6rem;
  }

  input, textarea{
    font-size: 1rem;
    width: 284px;
    height:2.4vh;
    padding:1.8rem;
    background: transparent;
    border-radius: 10px;
    border:1px solid var(--color-primary);
    resize: none;
  }

  textarea{
    height:25vh;
  }

  .contact button{
    font-size: 1.4rem;
    height: 7vh;
  } 
}
