@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  margin: 0;
}

:root {
  --dark-color-sec: #313131;
  --color-primary:#fc0;
  --color-font: #faf9f6;
  --container-width: 80%;
  --navbar-height: 7vh;
  --dark-color: #212121;
  --border-radius: 25px;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scroll-padding-top: var(--navbar-height);
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--dark-color);
  color: var(--color-font);
}

.container {
  width: var(--container-width);
  height: 100vh;
  margin: auto;
}

.titles {
  text-align: center;
  font-size: 3.5rem;
  margin-top: var(--navbar-height);
  letter-spacing: 0.1rem;
  text-decoration: underline var(--color-primary) 0.1rem;
  text-underline-position: under;
}

@media screen and (max-width: 600px) {
  :root{
    --container-width : 100%;
  }
  .titles{
    font-size:2rem;
    text-decoration: underline #fc0;
    text-underline-position: under; 
  }
}

@media screen and (max-width: 768px) and (min-width:600px){
  :root{
    --container-width : 95%;
    --color-primary:#fc0;
  }
  .titles{
    font-size:3rem;
  }
}

@media screen and (max-width: 1023px) and (min-width:768px){
  :root{
    --container-width : 90%
  }
  .titles{
    font-size:3.2rem;
  }
}
