nav{
  position: sticky;
  background-color: var(--dark-color); 
  width: 100vw;
  height: var(--navbar-height);
  top: 0;
  z-index: 10;
  transition: transform 350ms ease-in-out;
}

nav.navbar_hidden {
  transform: translateY(-100%);
}

.nav__container {
  background-color: var(--dark-color); 
  height: var(--navbar-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  font-size: 1.5rem;
}

.nav__container .name {
  overflow-wrap: break-word;
  max-height: var(--navbar-height);
}

.nav__container .name a{
  color: var(--color-primary);
  text-decoration: none;
}

.nav__container .links {
  width: 50vw;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  gap: 8%;

}

.A {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

/* .active{
  color:var(--color-primary);
} */

/* .active-scroll-spy{
  color:var(--color-primary);
} */

.hamburger{
  height: calc(var(--navbar-height) - 2vh);
  width: calc(var(--navbar-height) - 2vh);
  padding-right: 20px;
  color: var(--color-primary);
  background: transparent;
  border-radius: 50%;
  outline: none;
  border: 0;
  cursor:pointer;
  display: none;
}

.hamburger .icon{
  position: relative;
  top: 1.5px;
}

@keyframes slideaway {
  from { display: block; }
  to { transform: translateY(-100%); opacity: 0;}
}


@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeIn {
  from { opacity: 0; }
    to { opacity: 1; }
}

@media screen and (max-width: 600px) {
  nav{
    display: none;
  }

  nav.navbar_hidden{
    display: none;
  }
  
  .nav__container {
    font-size: 1rem;
    display: none;
  }

  .nav__container .name{
    overflow-wrap: normal;
    width:35%;
    padding-left: 10px;
  }

  .nav__container .links{
    display: none;
  }

  .hamburger{
    display: block;
  }

  .mobile_links{
    background-color: var(--dark-color);
    height: 30vh;
    display: flex;
    flex-direction: column;
    padding: 0;
    position: absolute;
    top: var(--navbar-height);
    width: 100%;
    text-align: center;
    justify-content: space-around;
    font-size: 1rem;
  }

  .A{
    padding: 0;
  }
}

@media screen and (max-width: 768px) and (min-width:600px){
  .nav__container {
    font-size: 1rem;
  }
}

@media screen and (max-width: 1023px) and (min-width:768px){
  .nav__container {
    font-size: 1.2rem;
  }
}

